registry=https://registry.involta.pro/repository/npm-group/
//registry.involta.pro/repository/npm-hosted-involta/:_authToken=NpmToken.ed3fe971-334d-38b0-b907-12734a6c3b92
//registry.involta.pro/repository/npm-group/:_authToken=NpmToken.ed3fe971-334d-38b0-b907-12734a6c3b92

init-license=UNLICENSED
loglevel=http