* {
   outline: none;
   margin: 0;
   padding: 0;
}

html {
   font-family: sans-serif;
   touch-action: manipulation;
   box-sizing: border-box;
}

ol, ul {
   list-style: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

[data-src],
[data-srcset] {
   min-width: 1px;
   min-height: 1px;
   opacity: 0;
   transition: opacity 1s;
}

[data-background-image] {
   opacity: 0;
   transition: opacity 1s;
}

[data-loaded="true"] {
   opacity: 1 !important;
}

img {
   border: 0;
   max-width: 100%;
   vertical-align: bottom;
   height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

input,
button,
textarea,
select {
   font-family: var(--font-family);
   resize: none;
   font-size: var(--font-size);
   font-weight: 400;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}
